# 중부원점좌표계를 위경도좌표계로 바꾸기

코드 출처 : https://www.osgeo.kr/17

In [1]:
import pandas as pd
import numpy as np
import pyproj
from pyproj import Proj, transform

In [2]:
# 중부원점(Bessel): 서울 등 중부지역 EPSG:2097
proj_1 = Proj(init='epsg:2097')
# WGS84 경위도: GPS가 사용하는 좌표계 EPSG:4326
proj_2 = Proj(init='epsg:4326')

C:\Users\32197453\AppData\Local\Programs\Python\Python39\lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
C:\Users\32197453\AppData\Local\Programs\Python\Python39\lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

In [3]:
os.chdir('../')
df = pd.read_csv('haver sine/영화관 좌표(중부원점).csv')
df.head()

   영업상태명 상세영업상태명         사업장명            X            Y
0  영업/정상     영업중    CGV 방학 4관  203799.8653  462533.4302
1  영업/정상     영업중    CGV 방학 6관  203799.8653  462533.4302
2  영업/정상     영업중    CGV 방학 5관  203799.8653  462533.4302
3  영업/정상     영업중  CGV 방학 4DX관  203799.8653  462533.4302
4  영업/정상     영업중    CGV 방학 2관  203799.8653  462533.4302

In [4]:
converted = transform(proj_1, proj_2, df['X'].values, df['Y'].values)
df['Lon'] = converted[0]
df['Lat'] = converted[1]

C:\Users\32197453\AppData\Local\Temp\ipykernel_2772\3307444316.py:1: DeprecationWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  converted = transform(proj_1, proj_2, df['X'].values, df['Y'].values)

In [5]:
df.to_csv('haver sine/영화관 좌표(위경도).csv',index = False)
df
os.chdir('Donktark.Python/')

,영업상태명,상세영업상태명,사업장명,X,Y,Lon,Lat
0,영업/정상,영업중,CGV 방학 4관,203799.8653,462533.4302,127.040964,37.665184
1,영업/정상,영업중,CGV 방학 6관,203799.8653,462533.4302,127.040964,37.665184
2,영업/정상,영업중,CGV 방학 5관,203799.8653,462533.4302,127.040964,37.665184
3,영업/정상,영업중,CGV 방학 4DX관,203799.8653,462533.4302,127.040964,37.665184
4,영업/정상,영업중,CGV 방학 2관,203799.8653,462533.4302,127.040964,37.665184
...,...,...,...,...,...,...,...
894,영업/정상,영업중,CGV 천호 4관,212501.3691,449282.3104,127.139361,37.545718
895,영업/정상,영업중,CGV 천호 5관,212501.3691,449282.3104,127.139361,37.545718
896,영업/정상,영업중,CGV 천호 6관,212501.3691,449282.3104,127.139361,37.545718
897,영업/정상,영업중,CGV 천호 1관,212501.3691,449282.3104,127.139361,37.545718
898,영업/정상,영업중,롯데시네마청량리 제1관,204081.2821,453187.3952,127.044102,37.580977

쉽다!